html,
body,
#root {
  height: 100%;
  margin: 0;
  background: #000000;
}

#outWrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background: rgba(255, 255, 255, 0.5); */
}
